* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    background-color: #535353;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    margin-bottom: 10px;
    color: white;
}

.hero p {
    margin-bottom: 30px;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 20px;
    text-decoration: none;
    color: white;
}

.btn-primary {
    background-color: #000000;
}

.btn-secondary {
    background-color: #000000;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: white;
}

.card {
    background-color: #000000;
    padding: 20px;
    width: 180px;
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.card.alert {
    background-color: #000000;
}

.info {
    padding: 30px;
    text-align: center;
    background-color: #535353;
}

.card p {
    color: #ffffff;
}

*/il faudrait rajouter de belles couleurs pour rendre le site plus beau et reussir a mettre le .info en bas de la page (j'ai pas réussi) ah et aussi pareil si tu y' arrives j'aimerais bien mettre les .card et les .btn avec des coins arrondis*/