* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #34403a;
    color: #ffffff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
    color: #ffffff;
}

footer {
    background-color: #34403a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #285238;
}

.hero {
    background-color: #285238;
    text-align: center;
    padding: 60px 20px;
    color: #ffffff;
}

.hero h1 {
    margin-bottom: 10px;
    color: #ffffff;
}

.hero p {
    margin-bottom: 30px;
    color: #ffffff;
}

.hero h2 {
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffffa;
}