* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    background-color: #000000;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-right: #ffffff 3px solid;
    padding-right: 10px;
}