 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 footer {
     text-align: center;
     bottom: auto;
     background-color: #333;
     color: white;
     padding: 10px 0;
     position: fixed;
     bottom: 0;
     width: 100%;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #333;
     padding: 0.5em 1em;
     color: white;
 }

 .nav-links {
     list-style: none;
     display: flex;
     gap: 1em;
     margin: 0;
 }

 .nav-links a {
     text-decoration: none;
     color: white;
     transition: color 0.3s;
 }

 .nav-links a:hover {
     color: #00bcd4;
 }

 .hamburger {
     display: none;
     flex-direction: column;
     gap: 5px;
     cursor: pointer;
 }

 .hamburger span {
     width: 25px;
     height: 3px;
     background-color: white;
 }

 h1 {
     margin-block: 0.67em;
     font-size: 3em;
     text-align: center;
 }

 h2 {
     margin-block: 0.67em;
     font-size: 2em;
 }

 li,
 p {
     line-height: 1.5;
 }

 ul {
     padding-left: 2rem;
     list-style-type: none;
 }

 ul li {
     padding-left: 2rem;
     background-position: 0 0;
     background-size: 1.6rem 1.6rem;
     background-repeat: no-repeat;
 }