* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card p {
    color: #ffffff;
}

.card {
    background-color: #04e824;
    padding: 20px;
    width: 180px;
    text-align: center;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.stats1 {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #285238;
}

section {
    margin: 15px;
    padding: 10px;
    float: left;
    width: calc(33% - 40px);
    box-sizing: border-box;
}

div.stats1 {
    margin-top: 20px;

}

.stats1 {
    display: flex;
    flex-wrap: wrap;
}